@media screen and (min-width: 1200px) {
    div .main-content {
        background: url(../images/bottega-sicula-wpcf_1200x700.jpg);
    }

    div .description {
        height: 700px;
    }

    div .title h1 {
        padding-top: 200px;
    }
}

@media screen and (max-width: 992px) {
    div .main-content {
        background: url(../images/bottega-sicula-wpcf_1200x700.jpg);
        height: 693px;
    }

    .secondary-menu {
        display: none;
    }

    div .text-main-menu {
        display: none;
    }

    div .media-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .media-logo img {
        width: 100px;
        height: 100px;
    }

    .media-main-menu img {
        height: 40px;
        width: 40px;
    }

    div .title {
        align-items: center;
        text-align: center;
    }

    div .title h1 {
        font-size: 96px;
        padding-top: 200px;
    }

    div .text-description {
        padding-bottom: 20px;
    }

    div .image-content {
        flex-direction: column;
        height: 100%;
    }

    div .cover-image {
        width: 100%;
    }

    div .simply-image {
        width: 100%;
    }

    .image-1 .image-2 .image-3 .image-4 {
        background-size: auto;
        height: 100%;
    }

    div .footer {
        height: 450px;
    }
}

@media screen and (max-width: 768px) {
    div .main-content {
        background: url(../images/bottega-sicula-wpcf_1200x700.jpg);
        height: 583px;
    }

    .secondary-menu {
        display: none;
    }

    div .text-main-menu {
        display: none;
    }

    div .media-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .media-logo img {
        width: 100px;
        height: 100px;
    }

    .media-main-menu img {
        height: 40px;
        width: 40px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    div .title h1 {
        font-size: 72px;
        padding-top: 0;
    }

    div .button {
        width: 510px;
    }

    div .text-description {
        padding-bottom: 20px;
        ;
    }

    div .image-content {
        flex-direction: column;
        height: 100%;
    }

    div .cover-image {
        width: 100%;
    }

    div .simply-image {
        width: 100%;
    }

    .image-1 .image-2 .image-3 .image-4 {
        background-size: auto;
        height: 100%;
    }

    .shell {
        flex-direction: column;
    }

    .text-description {
        overflow: auto;
    }

    div .footer {
        height: 100%;
    }

    div .information {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 576px) {
    div .main-content {
        background: url(../images/bottega-sicula-wpcf_768x700.jpg);
        height: 583px;
    }

    .secondary-menu {
        display: none;
    }

    div .text-main-menu {
        display: none;
    }

    div .media-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .media-logo img {
        width: 100px;
        height: 100px;
    }

    .media-main-menu img {
        height: 40px;
        width: 40px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    div .title h1 {
        font-size: 72px;
        padding-top: 50px;
    }

    div .button {
        height: 70px;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

    div .text-description {
        padding-bottom: 20px;
    }

    div .image-content {
        flex-direction: column;
        height: 100%;
    }

    .image-1 .image-2 .image-3 .image-4 {
        background-size: auto;
        height: 100%;
    }

    .shell {
        flex-direction: column;
    }

    div .information {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 320px) {
    div .main-content {
        background: url(../images/bottega-sicula-wpcf_576x700.jpg);
        height: 583px;
    }

    .secondary-menu {
        display: none;
    }

    div .text-main-menu {
        display: none;
    }

    div .media-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .media-logo img {
        width: 100px;
        height: 100px;
    }

    .media-main-menu img {
        height: 40px;
        width: 40px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    div .title {
        align-items: center;
        text-align: center;
    }

    div .title h1 {
        font-size: 72px;
    }

    div .text-description {
        padding-bottom: 20px;
    }

    div .image-content {
        flex-direction: column;
        height: 100%;
    }

    div .cover-image {
        width: 100%;
    }

    div .simply-image {
        width: 100%;
    }

    .image-1 .image-2 .image-3 .image-4 {
        background-size: auto;
        height: 100%;
    }

    .shell {
        flex-direction: column;
    }

    div .information {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
}

/************************************************************/
body {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.scroll {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.main-content {
    width: 100%;
    height: 800px;
    background: url(../images/bottega-sicula-wpcf_1200x700.jpg);
}

.secondary-menu {
    width: 100%;
    height: 32px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-shell {
    display: flex;
    position: relative;
    padding-left: 60%;
    padding-top: 5px;
    font-family: PT Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    color: #a6a8ab;
}

.text-menu {
    display: flex;
    justify-content: space-around;
}

.change-color-text-menu:hover {
    color: #d8af59;
}

.text-menu div {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
}

.icon-menu {
    display: flex;
}

.menu-image {
    padding-left: 8px;
    padding-right: 8px;
}

.logo {
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 225px;
    height: 225px;
    position: relative;
    cursor: pointer;
    padding-right: 50px;
    z-index: 1;
}

.text-main-menu {
    display: flex;
    justify-content: space-around;
    position: absolute;
    color: #fff;
    left: 25%;
    font-family: PT Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.item-main-menu p {
    padding: 48px 14px 8px;
    cursor: pointer;
}

.change-color-main-menu {
    color: #d8af59;
}

.media-menu {
    display: none;
}

.media-main-menu {
    cursor: pointer;
}

.hide-menu {
    position: absolute;
    background-color: #333;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.icon-close-menu {
    margin-right: 15px;
    cursor: pointer;
}

.icon-logo {
    margin-left: 15px;
}

div .display-none {
    display: none;
}

.retractable-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.line {
    border: none;
    width: 100%;
    height: 1px;
    background-color: #d8af59;
}

.all-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}

.item-retractable-menu {
    font-weight: 700;
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #d8af59;
}

.item-retractable-menu:hover {
    color: hsl(45, 54%, 36%);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: PT Sans, sans-serif;
    color: #fff;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.title h1 {
    font-weight: 700;
    font-size: 7.5rem;
    padding-top: 200px;
    margin-bottom: -20px;
    overflow-y: hidden;
}

.title span {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-top: -150px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #d8af59;
    font-weight: 700;
    cursor: pointer;
    width: 285px;
    height: 64px;
    border-radius: 40px;
    border: 2px solid;
    border-color: #d8af59;
    text-align: center;
    margin: 20px;
}

.button a {
    font-family: PT Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    margin-top: 22px;
}

.color-text-button:hover {
    color: black;
}

.description {
    display: flex;
    width: 100%;
    background-color: #f7f7f7;
}

.text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.text-description h1 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 52px;
    padding-bottom: 50px;
    color: grey;
    text-align: center;
}

.shell {
    display: flex;
    justify-content: center;
    align-content: stretch;
    text-align: center;
}

.different {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.different h4 {
    font-size: 27px;
}

.different p {
    font-size: 18px;
}

.image-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 850px;
}

.cover-image {
    background-size: cover;
    width: 50%;
}

.simply-image {
    background-size: 100%;
    width: 50%;
}

.image-1 {
    background-image: url(../images/FUD-BEC-BURGHER-02-wpcf_1920x700.jpg);
}

.image-2 {
    background-image: url(../images/FUD-CIPS-02-hd-wpcf_1920x700.jpg);
}

.image-3 {
    background-image: url(../images/FUD-PA-09-1.jpg);
}

.image-4 {
    background-image: url(../images/lavagna-wpcf_729x700.jpg);
}

.fill-background {
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    position: absolute;
}

.footer {
    width: 100%;
    height: 400px;
    background-color: #333;
}

.mini-logo {
    left: 45%;
    top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.information {
    display: flex;
    justify-content: center;
}

.item-inform {
    display: flex;
    flex-direction: column;
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #a6a8ab;
}

.vertical-line {
    border: none;
    width: 225px;
    height: 1px;
    background-color: #4d4d4d;
}

.item-inform h5 {
    margin-bottom: -5px;
}

.item-inform a {
    font-size: 13px;
    font-weight: 400;
}

.item-inform hr {
    position: relative;
    margin-right: 25px;
}

.color-item-inform {
    color: #4d4d4d;
}

.color-item-inform:hover {
    color: #d8af59;
}

.image-1:hover div {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-1 div {
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 600px;
    text-align: center;
    color: #fff;
    position: relative;
    height: 100%;
}

.image-2:hover div {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-2 div {
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 600px;
    text-align: center;
    color: #fff;
    position: relative;
    height: 100%;
}

.image-3:hover div {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-3 div {
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 600px;
    text-align: center;
    color: #fff;
    position: relative;
    height: 100%;
}

.image-4:hover div {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.image-4 div {
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI';
    line-height: 600px;
    text-align: center;
    color: #fff;
    position: relative;
    height: 100%;
}