a {
text-decoration: none;
cursor: pointer;
}
.scroll {
display: flex;
flex-direction: column;
position: relative;
width: 100%;
height: 100%;
} 

.main-content {
z-index: 100;
width: 100%;
height: 800px;
background-image: url(images/bottega-sicula-wpcf_1200x700.jpg);
}

.secondary-menu {
z-index: 200;
width: 100%;
height: 32px;
background-color:rgba(0,0,0,.5);
}

.menu-shell {
display: flex;
position: relative;
padding-left: 60%;
padding-top: 5px;
font-family: PT Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
color: #a6a8ab;

}

.text-menu {
display:flex; 
justify-content: space-around;
}
.text-menu div {
padding-left: 8px;
padding-right: 8px;
font-size: 15px;
}

.icon-menu {
display:flex; 
}
.menu-image {
padding-left: 8px;
padding-right: 8px;
}

.logo {
background-image: url(images/xdefault.png.pagespeed.ic.uZXACHvpgj.png);
background-repeat: no-repeat;
width: 225px;
height: 225px;
margin-top: -4%;
cursor: pointer;
padding-right: 50px;
z-index: 300;
}


.text-main-menu {
display: flex;
justify-content: space-around;
position: absolute;
left: 25%;
color: #fff;
font-family: PT Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
font-weight: 700;
font-size: 20px;
}
.item-main-menu p {
padding-top: 48px;
padding-left: 14px;
padding-bottom: 8px;
padding-right: 14px;
cursor: pointer;
}

.title {
display: flex;
flex-direction: column;
font-family: PT Sans,sans-serif;
color: #fff;
text-align: left;
position: absolute;
left: 25%;
}
.title h1 {
font-weight: 700;
font-size: 120px;
padding-top: 200px;
margin-bottom: -20px;
}

.title span {
font-size: 18px;
font-weight: 400;
text-align: left;
padding-top: -150px;
}

.button {
background-color: #d8af59;
font-weight: 700;
cursor: pointer;
width: 285px;
height: 64px;
border-radius: 40px;
border: 2px solid;
border-color: #d8af59;
text-align: center;
margin: 20px;
}
.button a {
font-family: PT Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
font-size: 18px;
top: 50%;
}

.button div {
padding-top: 22px;
}

.description {
width: 100%;
height: 700px;
background-color: #f7f7f7;
}
.text-description {
top:50%;
left: 50%;
padding-top: 100px;

}
.text-description h1 {
font-family: Roboto,sans-serif;
font-weight: 500;
font-size: 52px;
padding-bottom: 50px;
color: grey;
text-align: center;
}
.shell {
display: flex;
justify-content: space-around;
text-align: center;
width: 1110px;
margin: 0px;
margin-left: 20%;
}
.different {
padding-left: 15px;
padding-right: 15px;
text-align: center;
width: 350px;
padding: 15px,0;
}

.different h4 {
font-size: 27px;
}

.different p {
font-size: 18px;
}

.image-content {
display: flex;
width: 100%;
height: 850px;
}
.image-1 {
background-image: url(images/FUD-BEC-BURGHER-02-wpcf_1920x700.jpg);
background-size: cover;
width: 50%;
}
.image-2 {
background-image: url(images/FUD-CIPS-02-hd-wpcf_1920x700.jpg); 
background-size: 100%;
width: 50%;
}

.image-3 {
background-image: url(images/FUD-PA-09-1.jpg);
background-size: cover;
width: 50%;
}
.image-4 {
background-image: url(images/lavagna-wpcf_729x700.jpg); 
background-size: 100%;
width: 50%;
}

.footer {
width: 100%;
height: 400px;
background-color:#333;
}

.mini-logo {
left: 45%;
top: 30px;
padding-bottom: 30px;
position: relative;
}

.information {
display: flex;
justify-content: center;
}

.item-inform {
display: flex;
flex-direction: column;
font-family: PT Sans,sans-serif;
font-weight: 700;
font-size: 18px;
color: #a6a8ab

}
.item-inform h5 {
margin-bottom: -5px;
} 

.item-inform a {
color: #4d4d4d;
font-size: 13px;
font-weight: 400;
}

.item-inform hr {
position: relative;
margin-right: 25px;

}